#container {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
}

#columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1; /* Each column takes equal space */
}

ul {
  list-style-type: none;
  padding: 0;
}

.word {
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  height: 42px;
  font-size: 14px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  overflow: hidden;
}

.word:hover {
  background-color: #e0e0e0;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 2rem;
  border: 1px solid #1b1b1b;
}

#search i {
  color: #1b1b1b;
}

#search a {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1b1b1b;
  cursor: pointer;
}
