#container {
  display: flex;
  width: 100vw;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

button {
  width: 12rem;
  height: 3.5rem;
  margin: 5px;
  border-radius: 0.5rem;
  font-size: 1rem;
}

/*
button:hover {
  background-color: black;
  color: white;
  scale: 104%;
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2);
  border: solid 2px lightgray;
}
*/

button.selected {
  background-color: lightskyblue;
  font-weight: bolder;
}

button.match {
  background-color: lightgreen;
  font-weight: bolder;
}

button.mismatch {
  background-color: lightcoral;
  font-weight: bolder;
}

button.default {
  background-color: lightgray;
  font-weight: bolder;
}

/* STATS SECTION STYLING */

/*#statsContainer {
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
  overflow-y: auto;
  width: 100%;
}

#statsList {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
}

li {
  list-style-type: none;
  height: 2rem;
  padding: 5px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 4px;
  text-align: left;
}*/

/* MODAL ALERT STYLING */

.alert-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-content {
  position: relative;
  margin: auto; /* to center horizontally */
  padding: 20px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  top: 60%; /* to lower the modal vertically */
  transform: translateY(-50%); /* to adjust centering */
}

.alert-content button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.alert-content button:hover {
  background-color: #45a049;
}

